server:
  port: 6000
  session:
    timeout: 10
  context-path: /ssm

## master 数据源配置
master:
  datasource:
    url: jdbc:mysql://localhost:3306/springbootdb?useUnicode=true&characterEncoding=utf8
    username: springbootdb
    password: springbootdb
    driverClassName: com.mysql.jdbc.Driver

## cluster 数据源配置
cluster:
  datasource:
    url: jdbc:mysql://localhost:3306/springbootdb_cluster?useUnicode=true&characterEncoding=utf8
    username: springbootdb_cluster
    password: springbootdb_cluster
    driverClassName: com.mysql.jdbc.Driver
    
 
## Redis 配置
## Redis数据库索引（默认为0）
spring:
  redis:
    database:  0
## Redis服务器地址
    host: 127.0.0.1
## Redis服务器连接端口
    port: 6379
## Redis服务器连接密码（默认为空）
    password: redis
## 连接超时时间（毫秒）
    timeout: 5000
    jedis:
## 连接池最大连接数（使用负值表示没有限制）
      pool:
        max-active: 8
  ## 连接池最大阻塞等待时间（使用负值表示没有限制）
      pool.max-wait: -1
  ## 连接池中的最大空闲连接
      pool.max-idle: 8
  ## 连接池中的最小空闲连接
      pool.min-idle: 1

    